<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /bwajes/

    # SEO friendly url
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^post/([0-9]+)/(.+?)$ post.php?p=$1&t=$2 [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^email/([0-9]+)$ email.php?eid=$1 [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^reset-password/([0-9a-fA-f]+)/([0-9a-fA-f]+)$ reset-password.php?selector=$1&token=$2 [NC,L]

    # removing the php extension
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

    # Redirect the .php extension to the non .php extension
    RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
    RewriteRule ^ /%1 [L,R=301,NE]

    # preventing hotlinking
    # RewriteCond %{HTTP_REFERER} !^$
    # RewriteCond %{HTTP_REFERER} !^https://(www\.)?andadel.com [NC]
    # RewriteRule \.(gif|jpe?g?|png)$ - [NC,F,L]
</IfModule>
Options All -Indexes